<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonFastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\inetpub\wwwroot\agentsqlvercel\env\Scripts\python.exe|C:\inetpub\wwwroot\agentsqlvercel\env\lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>

    <fastCgi>
      <application
          fullPath="C:\inetpub\wwwroot\agentsqlvercel\env\Scripts\python.exe"
          arguments="C:\inetpub\wwwroot\agentsqlvercel\env\lib\site-packages\wfastcgi.py"
          signalBeforeTerminateSeconds="30">
        <environmentVariables>
          <environmentVariable name="WSGI_HANDLER" value="app.app" />
          <environmentVariable name="PYTHONPATH"    value="C:\inetpub\wwwroot\agentsqlvercel" />
          <environmentVariable name="WSGI_LOG"       value="C:\inetpub\wwwroot\agentsqlvercel\app.log" />
          <environmentVariable name="PYTHONHOME"     value="C:\inetpub\wwwroot\agentsqlvercel\env" />
        </environmentVariables>
      </application>
    </fastCgi>

    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />
  </system.webServer>

  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="PYTHONPATH"    value="C:\inetpub\wwwroot\agentsqlvercel" />
    <add key="WSGI_LOG"       value="C:\inetpub\wwwroot\agentsqlvercel\app.log" />
  </appSettings>
</configuration>
